PORT=YOUR_PORT
JWT_SECRET=YOUR_SECRET
MONGODB_URI=YOUR_MONGODB_ATLAS_URI
# mongodb+srv://username:password@project-name.x.x.x.x.mongodb.net/Database_name?appName=Your_app

GMAIL_USER=JYOUR_EMAIL
GMAIL_APP_PASS=GMAIL_APP_PASSWORD

CLOUDINARY_CLOUD_NAME=CLOUD_NAME
CLOUDINARY_KEY=YOUR_API_KEY
CLOUDINARY_SECRET=YOUR_API_SECRET