PORT=YOUR_PORT
FRONTEND_URL=YOUR_SECRET

ADMIN_MAIL=ADMIN_MAIL
ADMIN_PASSWORD=PASSWORD

JWT_SECRET=YOUR_SECRET
JWT_REFRESH_SECRET=YOUR_SECRET

MONGODB_URI=YOUR_MONGODB_ATLAS_URI
# mongodb+srv://username:password@project-name.x.x.x.x.mongodb.net/Database_name?appName=Your_app

GMAIL_USER=YOUR_EMAIL
GMAIL_APP_PASS=GMAIL_APP_PASSWORD

CLOUDINARY_CLOUD_NAME=CLOUD_NAME
CLOUDINARY_KEY=YOUR_API_KEY
CLOUDINARY_SECRET=YOUR_API_SECRET

GOOGLE_CLIENT_ID=CLIENT_ID
GOOGLE_CLIENT_SECRET=CLIENT_SECRET
GOOGLE_CALLBACK=http://localhost:5000/api/auth/google/callback

GROQ_API_KEY=YOUR_GROQ_API_KEY