PORT=YOUR_PORT
JWT_SECRET=YOUR_SECRET
MONGO_URI=YOUR_MONGODB_ATLAS_URI
# mongodb+srv://username:password@project-name.x.x.x.x.mongodb.net/Database_name?appName=Your_app
GMAIL_USER=YOUR_EMAIL
GMAIL_APP_PASS=EMAIL_APP_PASSWORD